@charset "UTF-8";

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.navbar-default {
	background-color: #000;
	border:none;
}

.navbar-brand {
	height: 60px;
	padding: 15px;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-toggle .icon-bar {
	width: 35px;
	height: 4px;
}

.logo-navbar {
	width: 70px;
}

.header__section {
	text-align: center;
	background-image: url(../images/post-image.jpg);
	background-position: center center;
	height: 100vh;
	background-size: cover;
	position: relative;
	top: -80px;
	z-index: -5;
	padding: 40vh 40px;
}

.header__section h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-style: italic;
	color: #fff;
	font-size: 2.8em;
	line-height: 1.4em;
}

.post___section {
	text-align: center;
	padding: 0 50px;
}

.post__date {
	display: inline-block;
	margin-bottom: 20px;
}

.date__img__container {
	padding: 7px;
	border: solid 1px #707070;
	border-radius: 50px;
	text-align: center;
	width: 37px;
	display: inline-block;
	margin: 0 10px;
}

.date__img {
	width: 18px;
}

.date__text {
	display: inline-block;
	color: #707070;
	font-family: 'Playfair Display', serif;
}

.post___text {
	text-align: left;
	line-height: 1.8em;
}

.icons__section {
	margin-top: 30px;
}

ul.icons__post {
	list-style-type: none;
}

.icons__item {
	list-style-type: none;
	display: inline-block;
	background-color: #707070;
	width: 55px;
	height: 55px;
	text-align: center;
	vertical-align: middle;
	border-radius: 50px;
	padding-top: 2px;
	margin: 0 5px;
}

.icons__item--i {
	width: 120px;
	text-align: left;
	padding-left: 15px;
}

.icons__img {
	width: 35px;
	padding-top: 7px;
}

.icons__img--i {
	color: #fff;
	font-size: 35px;
	padding-top: 7px;
}

.profile__section {
	padding: 0 20px;
	position: relative;
}

/*PROFILE*/

.profile__section {
	text-align: center;
	margin-top: 40px;
	position: relative;
	border: 1px solid #cccccc;
	padding-bottom: 20px;
}

.profile__section i {
	position: relative;
	top: -15px;
	background-color: #fff;
	padding: 10px 11px;
	border-radius: 50px;
	border: 1px solid #cccccc;
	font-size: 1.4em;
	color: #878787;
}

.profile__header {
	color: #707070;
}

.profile__header img {
	width: 160px;
}

.profile__header h2 {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	color: #000;
}

.profile__text {
	display: none;
}

/*FOOTER*/

.carousel-item {
	background-color: #e5e5e5;
	height: 150px;
	padding: 60px 10px 0 10px;
	font-weight: 600;
	text-align: center;
}

.carousel-item a {
	color: #777777;
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
	background-color: transparent;
}

.glyphicon-chevron-right:before {
	background-color: #888888;
	padding: 5px 7px;
	border-radius: 50px;
}

.glyphicon-chevron-left:before {
	background-color: #888888;
	padding: 5px 7px;
	border-radius: 50px;
}

.footer__black {
	background-color: #000;
	text-align: center;
	height: 150px;
	padding-top: 55px;
}

.footer__black img {
	width: 90px;
}

@media (min-width: 768px) {

.header__section h1 {
	font-size: 3.5em;
}

}

@media (min-width: 1200px) {

.header__section {
	padding: 35vh 20vw;
}

.header__section h1 {
	font-size: 5.5em;
}

.post___section {
	padding: 0 20vw;
}

.icons__section {
	padding: 0 20vw;
}

.profile__section {
	padding: 20px;
}

.profile__section i {
	position: absolute;
	top: -15px;
	left: 50%;
}

.profile__header {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
}

.profile__text {
	display: inline-block;
	width: 35%;
	vertical-align: middle;
	text-align: left;
	margin-left: 50px;
	color: #888888;
}

}

@media (min-width: 1440px) {

.post___section {
	padding: 0 10px;
}

}